Repository usevital/notessential, pull requests merged in 2024-08, with the labels that each got.

#41 add vi-VN translations
  i18n/i18n.config.ts
  i18n/lang/vi-VN.json
  nuxt.config.ts
Labels: crowdin

#42 add: content & code licenses
  LICENSE
  README.md
  TEXT_LICENSE
Labels: documentation

#45 Fix language names for Ukrainian & Russian
  nuxt.config.ts
Labels: enhancement
